body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
      color: rgb(0, 124, 195);
      text-align: center;
      text-shadow: 0 0 5px white;
      font-size: 51px;
      font-style: bold;

  }


  .topnav {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:  rgb(229, 240, 247);
    
  }
  .topnav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px; 
    transition: 0.3s;
    font-size: 17px;
    color: #659dbd;
  }
  .tabHome{
      margin-left: 66%;
  }
  
  .topnav button:hover {
    background-color: #ddd;
  }
  .topnav button.active{
    background-color: red;
  }

  .details{
      padding: 2em 8em;
      font-family: sans-serif;
      font-size: medium;

  }
  h3{
      font-size: 30px;
      font-weight: bolder;
      margin-left: 2em;
  }
  .job{
      color: darkblue;
      font-size: 20px;
      margin-left: 4em;
  }
  .industrie{
    font-size: 20px;
    margin-left: 4em;
  }
  .search{
    width: 97%;
    /* height: 30em; */
    background-color: #659dbd;
    margin: 1.8em;
}
h1, h5{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
h1{
    padding-top: 1em;
}
h5{
    padding-top: 0em;
    margin-top: -38px;
}
#city, #dateIn,#dateOut, #person, #no-of-persons, #no-of-children, #no-of-rooms, .dateIn, .clickButton, .no-of-rooms, .no-of-children, .no-of-persons{
    width: 30%;
    height: 4em;
    border-style: none;
    text-align: center;
    cursor: pointer;
}
#city{
    margin-left: 1em;
}
#dateIn,#dateOut, #no-of-persons, #no-of-children, #no-of-rooms{
    width: 10%;
}
.dateIn, .clickButton, .no-of-rooms, .no-of-children, .no-of-persons{
    background-color: #659dbd;
    color: white;
    margin-top: -10%;
    margin-left: 8%;
    font-weight: bold;
    font-size: 122%;
    box-shadow: 10px 10px 5px #aaaaaa;

}
.inDate, .outDate{
    /* background-color: #659dbd; */
    width: 10%;
    margin-left: 2em;
    font-weight: bold;
    /* margin-top: 2em; */
    color: #659dbd ;

}
.outDate{
    margin-top: 2em;
}
.clickButton{
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 10%;
}
#Booking, #end{
    background-color: rgb(229, 240, 247);
    box-shadow: 10px 10px 5px #aaaaaa;
}
.statement, .amountStatement, .statementp{
    background-color: rgb(229, 240, 247);
    box-shadow: 10px 10px 5px #aaaaaa;
    font-size: 2em;
    color: #659dbd ;
                             
}
.statementp{
    font-size: 3em;
    margin-bottom: 1em;
    color: darkblue;
    margin-top: -2em; 

}
.amountStatement{
    color: darkcyan;
}
.amountStatement:hover{
    font-size: 3em;
}
.no-of-rooms, .no-of-children, .no-of-persons{
    font-size: 100%;
}
.check{
    color: white;
    font-weight: bold;
}
.searchButton{
    background-color: white;
    color: #659dbd;
    height: 4em;
    width:6em;
    border-style: none;
   
}
.Munich, .Nürnberg, .Berlin, .Hamburg, .Frankfurt{
    /* flex-direction: column; */
    background-image: url("munich.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    width: 30%;
    height: 12em;
    color: white;
    font-weight: bold;
    font-size: 38px;
    margin-left: 6em;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-style: none;
    cursor: pointer;
    
    
}
.Nürnberg{
    background-image: url("nürnberg.jpg");

}
.Berlin{
    background-image: url("berlin.jpg");
   
}
.Hamburg{
    background-image: url("hamburg.jpg");
}
.Frankfurt{
    background-image: url("frankfurt.jpg");
}
.ourCitiesHeading, .info{
    color: #659dbd;
    margin-left: 8%;
    margin-top: 2em;
    margin-bottom: 4em;
}
.info{
    font-size: 30px;
    margin-top: 2em;
}
.Eurostars, .HolidayInn, .Maritim, .DreiLöwen{
    background-image: url("Eurostars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3em;
    width: 30%;
    height: 12em;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-left: 8em;
    box-shadow: 10px 10px 5px #aaaaaa;
    cursor: pointer;
}
.HolidayInn{
    background-image: url("HolidayInn.jpg");
}
.Maritim{
    background-image: url("HotelMaritim.jpg");
}
.DreiLöwen{
    background-image: url("DreiLöwen.jpg");
}
.single_standerd, .single_superior, .doubleroom_standerd, .doubleroom_superior{
    background-color: rgb(208, 235, 253);
    background-image: url("singleRoom.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3em;
    width: 60%;
    height: 12em;
    color: #659dbd;
    font-weight: bold;
    font-size: large;
    margin-left: 8em;
    text-align: center;
    padding-left: 10em;
    border-style: none;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.single_superior{
    background-image: url("singleRoom_Superior.jpg");
}
.doubleroom_standerd{
    background-image: url("doubleroom_standerd.jpg");
    background-size: 315px 214px;
}
.doubleroom_superior{
    background-image: url("doubleroom_superior.jpg");
}
.bookingButton{
    background-color: darkblue;
    width: 10%;
    height: 5em;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-top: 8em;
    text-align: center;
    border-radius: 30%;
    /* padding-right: 10em; */
    margin-left: -15%;
    border-style: none;
    box-shadow: 10px 10px 5px #aaaaaa;
    cursor: pointer;
}
#paymentStep{
    color: red;
    /* width: 30%; */
    /* background-color: gray; */
    text-align: center;
    font-size: large;
    margin: 8em;
}
 .confirmation{
    background-color: darkblue;
    color: white;
    font-size: 18px;
    width: 15%;
    height: 5em;
    border-radius: 30%;
    font-weight: bold;
    cursor: pointer;

} 
.confirmation:hover{
    background-color: green;
}
.userData, .fst, .First_name, .lst, .Last_name, .email, .e_name, .mob, .mobNo{
    margin-left: 30%;
    color: #659dbd;
    width: 30%;
    border-style: none;
}
.submit{
    margin-left: 3em;
    margin-bottom: 10%;
    border-style: none;
    background-color: darkblue;
    font-size: 18px;
    width: 8%;
    height: 3em;
    border-radius: 30%;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    cursor: pointer;
}

.userData{
    margin-left: 25%;
    margin-top: -2%;
    margin-bottom: 4%;
    font-size: larger;
    width: 50%;
}
/* #end{
    padding-top: 8%;
} */
  #userData, #appContact, #call{
    margin-left: 15%;
    color: #659dbd;
    width: 60%;
    border-style: none;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
} 
#appContact{
   margin-bottom: 5em;
}
#call{
    font-size: 2em;
}
hr{
    background-color: gray;
    width: 50%;
    
} 
.picture{
    width: 100%;
    background-image: url("image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25em;
    margin-top: 1em;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes example {
    0%   {background-image: url("image2.jpg");}
    25%  {background-image: url("image3.jpg");}
    50%  {background-image: url("image4.jpg");}
    75%  {background-image: url("image5.jpg");}
    100% {background-image: url("image6.jpg");}
  }
  h4{
    color: #659dbd;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .process, .car, .cityInfo{
    color: #659dbd;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 6em;

  }




